dataset/Train/
dataset/TrainSmall2/
model_ckpt/epoch63.pt
model_ckpt/epoch47.pt
runs/
SrcData/
# test_results/
processed_dataset/yolo_dataset_800/images/
processed_dataset/yolo_dataset_800/labels/
yolo_dataset_small/
(113-2)FinalProject.pptx
Tips_FinalProj_Presentation.pdf
*.zip
*.png
*.jpg
